.form-session {
    width: 600px;
    height: 420px;
    border: 2px solid green;
    margin: auto;
}

h1 {
    text-align: center;
}

.checkBox {
    display: inline-block;
    vertical-align: top;
}

.declare {
    display: inline-block;
    vertical-align: top;
}

input {
    margin: 20px 0px 0px 40px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
}

input:hover {
    border: 2px solid lightskyblue;
}

#fname,
#lname,
#password,
button {
    width: 39%;
}

button {
    margin: 20px 0px 0px 40px;
    height: 30px;
}

#pNumber,
#email {
    width: 86%;
}

#checkBoxSub {
    margin-top: 10px;
}

.agree {
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
}

.declare {
    margin: 2% 0 0 10%;
}

#registerSmall {
    display: inline-block;
    background-color: #4890CD;
    padding: 0 6px 0 6px;
    color: white;
}

#registerBtn {
    height: 36px;
    color: white;
    background-color: #4890CD;
    border-radius: 8px;
}

#signinBtn {
    color: white;
    height: 36px;
    background-color: #62BC62;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #4890CD;
}